/* components/Container.module.css */
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

/* For screens larger than 640px (sm) */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding: 0 48px;
  }
}

/* For screens larger than 768px (md) */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 56px;
  }
}

/* For screens larger than 1024px (lg) */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 72px;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1100px;
    padding: 0 80px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 96px;
  }
}

/* For screens larger than 1380px (xl) */
@media (min-width: 1380px) {
  .container {
    max-width: 1380px;
    padding: 0 120px;
  }
}

/* For screens larger than 1536px (2xl) */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    padding: 0 140px;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1800px;
    padding: 0 180px;
  }
}